# config
.config/dconf/
.config/dconf/user
.config/google-chrome/
.config/chromium/
.config/mpd/log
.config/mpd/pid
.config/obs-studio/
.config/GIMP/
.config/systemd/
.config/emacs/.lsp-session-v1
.config/emacs/elfeed/

# local
.local/share/
.local/share/fonts/
.local/src/
.local/state/
.local/bin/codex
.local/bin/copilot
.local/bin/gemini
.local/bin/opencode
.local/bin/pi
.local/bin/playwright-cli

# emacs
.emacs.d/.cache
.emacs.d/auto-save-list/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/elpaca/
.emacs.d/transient/
.emacs.d/url/
.emacs.d/var/
.emacs.d/bookmarks
.emacs.d/config.el
.emacs.d/history
.emacs.d/recentf
.emacs.d/sessions
.emacs.d/tramp
.emacs.d/tree-sitter/
.emacs.d/ellama-sessions/
.emacs.d/.last-package-update-day
.emacs.d/fontaine-latest-state.eld

.config/emacs/.cache
.config/emacs/auto-save-list/
.config/emacs/eln-cache/
.config/emacs/elpa/
.config/emacs/elpaca/
.config/emacs/transient/
.config/emacs/url/
.config/emacs/var/
.config/emacs/bookmarks
.config/emacs/config.el
.config/emacs/history
.config/emacs/recentf
.config/emacs/sessions
.config/emacs/tramp
.config/emacs/tree-sitter/
.config/emacs/ellama-sessions/
.config/emacs/.last-package-update-day
.config/emacs/fontaine-latest-state.eld
