// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
	keyboard {
		xkb {
			layout "gb"
		}
	}
	touchpad {
		tap
		natural-scroll
	}
	focus-follows-mouse
}

// Monitor configuration.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
	// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
	mode "1920x1080@90"
	scale 1.0
	transform "normal"
	position x=0 y=0
}

cursor {
	xcursor-theme "Bibata-Modern-Classic"
	xcursor-size 22

	hide-when-typing
	hide-after-inactive-ms 1000
}
// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
	gaps 10
	center-focused-column "never"
	default-column-width { proportion 1.0; }
	focus-ring {
		width 2
		active-color "#458588"
		inactive-color "#444444"
	}
	border {
		off
	}
	struts {
		left 0
		right 0
		top 0
		bottom 0
	}
	background-color "transparent"

}

// startup processes
// spawn-at-startup "wbg" "'$(find /home/javier/.config/hypr/img/ -type f \( -iname '*.png' -o -iname '*.jpg' -o -iname '*.jpeg' -o -iname '*.webp' \) | shuf -n 1)'"
spawn-at-startup "emacs" "--daemon"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "hyprpaper"
spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "foot" "--server"
// spawn-at-startup brightnessctl set 50% 
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
	geometry-corner-radius 5
	clip-to-geometry true
}
window-rule {
	match app-id="firefox"
	match app-id="code"
	match app-id="dev.zed.Zed"
	default-column-width { proportion 1.0; }
}
window-rule {
	match app-id="org.gnome.Calculator"
	match app-id="com.saivert.pwvucontrol"
	match app-id="Alacritty" title="Updater"
	match app-id="Alacritty" title="nmtui"
	match app-id="Alacritty" title="Wallpaper Selector"
	match app-id="foot" title="scratchpad"
	match app-id="chrome-ophjlpahpchlmihnnnihgmmeilfjmjjc__index.html-Default"
	open-floating true
	shadow {
		on
	}
}

binds {
	// Applications
	Mod+Return      { spawn "foot"; }
	Mod+O           { spawn "fuzzel"; }
	Mod+W           { spawn "firefox"; }

	// Backlight and Audio
	XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%" ; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-" ; }
	XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
	XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
	XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
	XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"; }
	XF86AudioPause        allow-when-locked=true { spawn "playerctl" "pause"; }
	XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"; }
	XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"; }

	// Windows and Columns
	Mod+Q                { close-window; }
	Mod+M                { maximize-column; }
	Mod+F                { fullscreen-window; }
	Mod+T     { spawn "foot" "-a" "scratchpad" "-w" "1250x500"; }


	// Workspaces
	Mod+1		{focus-workspace 1;}
	Mod+2		{focus-workspace 2;}
	Mod+3		{focus-workspace 3;}
	Mod+4		{focus-workspace 4;}
	Mod+5		{focus-workspace 5;}
	Mod+6		{focus-workspace 6;}
	Mod+7		{focus-workspace 7;}
	Mod+8		{focus-workspace 8;}
	Mod+9		{focus-workspace 9;}
	Mod+Ctrl+1         { move-column-to-workspace 1; }
	Mod+Ctrl+2         { move-column-to-workspace 2; }
	Mod+Ctrl+3         { move-column-to-workspace 3; }
	Mod+Ctrl+4         { move-column-to-workspace 4; }
	Mod+Ctrl+5         { move-column-to-workspace 5; }
	Mod+Ctrl+6         { move-column-to-workspace 6; }
	Mod+Ctrl+7         { move-column-to-workspace 7; }
	Mod+Ctrl+8         { move-column-to-workspace 8; }
	Mod+Ctrl+9         { move-column-to-workspace 9; }
	Mod+Ctrl+0         { move-column-to-workspace 10; }
	Mod+A              { toggle-overview; }

	// Screenshots
	Print       { screenshot; }
	Ctrl+Print  { screenshot-window; }
	Shift+Print { screenshot-screen; }
}

// misc configuration
screenshot-path "/tmp/Screenshot From %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
environment {
	DISPLAY ":0"
}
hotkey-overlay {
	skip-at-startup
}
